In [1]:
import pandas as pd

# Munge data into normal form

In [16]:
bitcoin_df = pd.read_csv("../data/historic_crypto_prices - bitcoin_jan_2017_sep_4_2021.csv", 
    index_col=0,
    parse_dates=True)

In [17]:
bitcoin_df

                open      high       low     close        volume
date
2017-01-01    963.66   1003.08    958.70    998.33  1.477750e+08
2017-01-02    998.62   1031.39    996.70   1021.75  2.221850e+08
2017-01-03   1021.60   1044.08   1021.60   1043.84  1.851680e+08
2017-01-04   1044.40   1159.42   1044.40   1154.73  3.449460e+08
2017-01-05   1156.73   1191.10    910.42   1013.38  5.101990e+08
...              ...       ...       ...       ...           ...
2021-08-31  47024.34  48189.55  46750.09  47166.69  3.473036e+10
2021-09-01  47099.77  49111.09  46562.44  48847.03  3.913940e+10
2021-09-02  48807.85  50343.42  48652.32  49327.72  3.950807e+10
2021-09-03  49288.25  50982.27  48386.09  50025.37  4.320618e+10
2021-09-04  50009.33  50545.58  49548.78  49944.63  3.747133e+10

[1708 rows x 5 columns]

In [12]:
def convert_currency_to_float(input_df):
    for col in input_df.columns:
        input_df[col] = input_df[col].apply(lambda x: x.replace('$','').replace(",","")).astype(float)
    return input_df

In [13]:
bitcoin_df = convert_currency_to_float(bitcoin_df)

In [14]:
bitcoin_df = bitcoin_df.sort_index()
# don't get market cap from coinbase api
bitcoin_df.drop('market_cap' ,inplace=True, axis=1)

In [15]:
bitcoin_df.to_csv("../data/historic_crypto_prices - bitcoin_jan_2017_sep_4_2021.csv")

In [22]:
etherum_df = pd.read_csv("../data/historic_crypto_prices - etherum_jan_2017_sept_4_2021.csv", 
    index_col=0,
    parse_dates=True)

In [23]:
etherum_df

               open     high      low    close        volume
date
2017-01-01     7.98     8.47     7.98     8.17  1.473170e+07
2017-01-02     8.17     8.44     8.05     8.38  1.457960e+07
2017-01-03     8.37    10.00     8.32     9.73  3.362520e+07
2017-01-04     9.71    11.28     9.56    11.25  4.105120e+07
2017-01-05    11.29    11.89     9.40    10.25  4.155740e+07
...             ...      ...      ...      ...           ...
2021-08-31  3227.76  3466.99  3195.22  3433.73  2.728050e+10
2021-09-01  3430.76  3836.87  3387.41  3834.83  3.007089e+10
2021-09-02  3825.03  3830.71  3726.75  3790.99  2.438740e+10
2021-09-03  3787.49  4022.47  3712.68  3940.61  2.620777e+10
2021-09-04  3937.91  3969.45  3837.93  3887.83  2.080696e+10

[1708 rows x 5 columns]

In [19]:
etherum_df = convert_currency_to_float(etherum_df)

In [20]:
# don't get market cap from coinbase api
etherum_df = etherum_df.sort_index()
etherum_df.drop('market_cap' ,inplace=True, axis=1)

In [21]:
etherum_df.to_csv("../data/historic_crypto_prices - etherum_jan_2017_sept_4_2021.csv")